<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">About Us</h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="http://www.edmondscommerce.co.uk">Edmonds Commerce</a> are a UK based E-Commerce web development
            agency.
        </p>

        <p>
            We are based in <a href="http://www.yorkshire.com/">Yorkshire</a> near <a
                href="http://www.visitleeds.co.uk/">Leeds</a> and <a href="http://www.visitbradford.com/">Bradford</a>.
        </p>

        <p>
            Our primary specialism is <a href="http://magento.com/">Magento</a> and other PHP based E-Commerce platforms
            such as <a href="http://www.opencart.com/">OpenCart</a>.
        </p>

        <p>
            In terms of technology we are very strong in:
        <ul>
            <li><a href="http://php.net/">PHP</a>,</li>
            <li><a href="http://www.mysql.com/">MySQL</a>,</li>
            <li><a href="http://www.linuxfoundation.org/">Linux</a>,</li>
            <li><a href="http://www.w3.org/standards/techs/html#w3c_all">HTML<a/>,</li>
            <li><a href="http://www.w3.org/Style/CSS/Overview.en.html">CSS</a></li>
            <li><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a>.</li>
        </ul>
        </p>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Commercial Enquiries</h3>
    </div>
    <div class="panel-body">
        <p>
            If you would like to discuss your project requirements then please get in touch today.
        </p>

        <p>
            <a href="http://www.edmondscommerce.co.uk">www.edmondscommerce.co.uk</a><br/><br/>
            <a href="mailto:info@edmondscommerce.co.uk">info@edmondscommerce.co.uk</a><br/><br/>
            <a href="tel:00441274590036">+44 1274 590036</a>
        </p>
    </div>
</section>
