
<section class="panel panel-default">
  <div class="panel-body">

    <!-- Place this tag where you want the widget to render. -->
	<div class="g-page" data-width="237" data-href="//plus.google.com/u/0/104488822194646220248" data-rel="publisher"></div>

	<!-- Place this tag after the last widget tag. -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'en-GB'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
  </div>
</section>


