<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ root_url }}/"><img height="20" src="https://2.gravatar.com/avatar/04b807394911b26ea8a79dbe25ea4e1a?d=https%3A%2F%2Fidenticons.github.com%2Fccb745f4b144d30c4b883330a1114834.png&amp;r=x&amp;s=140" width="20"> Dev Blog</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/">Blog</a>
                </li>
                <li {% if page.navbar == 'Archives' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/blog/archives">Archives</a>
                </li>
                {% for link in site.navigation %}
                <li {% if page.url == link.url %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav pull-right">
                {% if site.github_user %}
                <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile"><i class="icon-github-sign social-navbar"></i></a></li>
                {% endif %}
                {% if site.linkedin_user %}
                <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="Linkedin Profile"><i class="icon-linkedin-sign social-navbar"></i></a></li>
                {% endif %}
                {% if site.twitter_user %}
                <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile"><i class="icon-twitter-sign social-navbar"></i></a></li>
                {% endif %}
                {% if site.googleplus_user %}
                <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile"><i class="icon-google-plus-sign social-navbar"></i></a></li>
                {% endif %}
                {% if site.facebook_user %}
                <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile"><i class="icon-facebook-sign social-navbar"></i></a></li>
                {% endif %}
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}" title="Email"><i class="icon-envelope-alt social-navbar"></i></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/rss.png" alt="RSS">
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li>
                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if site.simple_search %}
                <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
